@page
@{ViewData["Title"] = "Skills";}
<h3 class="display-6">Habilidades</h3><br>
<h4>Trabajo con Metodologias Agiles y con Scrum</h4>
<h4>Sé desarrollar SW de aplicación a todos los niveles, desde HTML-CSS-JS, hasta Dockers en la nube</h4>
<h4>Sé aprovechar las herramientas actuales de IA</h4>
<h4>Me mantengo actualizado en los progresos del HW gráfico</h4>