@page
@model TechModel
@{ViewData["Title"] = "Tech";}
<h3 class="display-6">TECNOLOGÍAS</h3><br>
<h4 style="line-height: 1.5;">Estas son las tecnologías con las que más he trabajado:
   <img src="/figs/Iconos.png" alt="Iconos"><br>
   bootstrap css3 git html5 java javascript linux mongodb mysql nodejs php postman react sass xd
</h4>