@page
@model CVModel
@{ViewData["Title"] = "CV";}
<div class="text-left">
   <h3 class="display-6">Formación</h3><br>
   <h4>Curso de Programador de sistemas en AWS.</h4>
   <ul>
      <li>Actividades y grupos: Desarrollo de aplicaciones en la nube utilizando AWS SDKs y herramientas de desarrollo.
Programación en entornos de nube con servicios como EC2, Lambda, Elastic Beanstalk y también conocimientos en Linux y Docker.
AWS Certified Cloud Practitioner y Developer Associate. </li>
      <li>Desarrollo de componentes software para servicios de comunicaciones basado en tecnologías orientadas a
         componentes. Implementación e integración de elementos software con tecnologías basadas en componentes.
         Despliegue y puesta en funcionamiento de componentes software
      </li>
   </ul>
   <h4>Curso de Desarrollador Web para Microsoft Azure.</h4>
   <h4>Título de FP Grado Superior “Técnico Superioren Desarrollo de Aplicaciones Multiplataforma</h4>
</div>