@page
@model IndexModel
@{ViewData["Title"] = "Home page";}
<div class="text-left">
    <h4 class="display-6">Bienvenidos</h4><br>
    <h4 style="line-height: 1.5;">Soy Eduardo Martínez Ramírez, Desarrollador FullStack, con experiencia en tecnologías como .NET, C#, Angular, Javascript, Java, PHP y Arquitecto Devops en las nubes AWS y Azure.<br><br>
    Mi formación con el Módulo Superior en Desarrollo de Aplicaciones Multiplataforma (DAM), me ha proporcionado una base sólida en programación y desarrollo de software. 
Actualmente, estoy enfocado en el aprendizaje de lenguajes y tecnologías como .NET, C#, Azure, AWS, Angular, Node.js, Kubernetes, Terraform y Grafana.</h4>
</div>