@page
@{ViewData["Title"] = "Servicios";}
<h3 class="display-6">Servicios</h3><br>
<h4>Puedo desarrollar páginas web dinámicas y atractivas en cuestión de horas</h4>
<h4>Hago todo el ciclo de desarrollo, desde la concepción del diseño de la parte visible (frontend), a la gestión de las bases de datos de negocio (backend), pasando por todas las etapas de desarrollo de la lóguca distribuída entre el servidor y el cliente.</h4>